<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <li class="start nav-item">
            <a href="#/dashboard.html">
                <i class="icon-home"></i>
                <span class="title">首页</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0);" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">服务与商品</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#/vul.html">
                        <i class="icon-puzzle"></i>&nbsp;漏洞订阅</span>
                    </a>
                </li>
                <li>
                    <a href="#/site.html">
                        <i class="icon-paper-clip"></i>&nbsp;网站监测</span>
                    </a>
                </li>
                <li>
                    <a href="#/sitescan.html">
                        <i class="icon-check"></i>&nbsp;网站检测</span>
                    </a>
                </li>
                <li>
                    <a href="#/appscan.html">
                        <i class="icon-check"></i>&nbsp;APP检测</span>
                    </a>
                </li>
                <li>
                    <a href="#/anfu.html">
                        <i class="icon-check"></i>&nbsp;安服商品</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0);" class="nav-link nav-toggle">
                <i class="icon-user"></i>
                <span class="title">账户管理</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#/useraccount.html">
                        <i class="icon-puzzle"></i>&nbsp;账户信息</span>
                    </a>
                </li>
                <li>
                    <a href="#/usercompany.html">
                        <i class="icon-puzzle"></i>&nbsp;企业资料</span>
                    </a>
                </li>
                <li>
                    <a href="#/userwebsite.html">
                        <i class="icon-puzzle"></i>&nbsp;网站安全</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0);" class="nav-link nav-toggle">
                <i class="icon-check"></i>
                <span class="title">安全中心</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#/security.html">
                        <i class="icon-puzzle"></i>&nbsp;密码修改</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
